.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  height: 25vh;
}

.header-container h1 {
  color: #106cc8;
  margin: 0;
}

.header-container span {
  color: white;
}
